.disabled {
  pointer-events: none;
  cursor: default;
  color: #808080;
  &:hover {
    text-decoration: none;
  }
}

#info-insert {
  text-align: center;
  display: block;
  margin: 0 auto;
  &img {
    max-width: 100%;
  }
}