.calendar {
  display: flex;
  flex-flow: column;
}

.calendar .header .month-year {
  font-size: 20px;
  font-weight: bold;
  color: #636e73;
}

.calendar .days {
  display: flex;
  flex-flow: wrap;
}

.calendar .days .day_name {
  width: 14.2857142857%;
  border-right: 1px solid #2c7aca;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #818589;
  color: #fff;
  background-color: #448cd6;
}

.calendar .days .day_name:nth-child(7) {
  border: none;
}

.calendar .days .day_num {
  display: flex;
  flex-flow: column;
  width: 14.2857142857%;
  border-right: 1px solid #e6e9ea;
  border-bottom: 1px solid #e6e9ea;
  padding: 5px;
  font-weight: bold;
  color: #7c878d;
  cursor: pointer;
}

.calendar .days .day_num span {
  display: inline-flex;
  font-size: 14px;
}

.calendar .days .day_num .event {
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  background-color: #f7c30d;
  color: #fff;
  word-wrap: break-word;
}

.calendar .days .day_num .event.green {
  background-color: #51ce57;
}

.calendar-day-holiday.green {
  background-color: #51ce57;
}

.calendar-day-holiday.orange {
  background-color: #f7c30d;
}

.calendar-day-holiday.red {
  background-color: red;
}

.calendar-day-holiday.gray {
  background-color: #dcdcdc;
}

.calendar .days .day_num .event.blue {
  background-color: #518fce;
}

.calendar .days .day_num .event.red {
  background-color: #ce5151;
}

.calendar .days .day_num .event.gray {
  background-color: #7c878d;
}

.calendar .days .day_num:nth-child(7n+1) {
  border-left: 1px solid #e6e9ea;
}

.calendar .days .day_num.ignore {
  background-color: #fdfdfd;
  color: #ced2d4;
  cursor: inherit;
}

.calendar .days .day_num.selected {
  background-color: #f1f2f3;
  cursor: inherit;
}
