body{
	font-size: 16px;
}

.post-content{
	font-size: 16px;
}

p {
	margin-bottom: 0px;
}

h1 {
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.iframe-responsive{
    overflow:hidden;
    padding-bottom:100vh;
    position:relative;
    height:0;
}
.iframe-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.rating-button-minus{
	cursor: pointer;
}

.rating-button-plus{
	cursor: pointer;
}

.plus-active{
	color:green;
	font-weight: bold;
}

.minus-active{
	color:red;
	font-weight: bold;
}

.post-info{
	color:#696969;
}

.comment-answer{
}

.post-content{
	word-wrap: break-word;
}

.post-content img{
	max-width: 100%;
}

.avatar img{
	width:100%;
}

.text-underline{
	text-decoration: underline #3490dc;
}

.side-menu-list{
	border-bottom: 1px solid #dfdfdf;
	padding:5px 0;
}

.cursor-pointer
{
	cursor: pointer;
}

.navbar-custom{
	background-color: #f7f7f7;
	border-bottom:1px solid #dadada;
}

.navbar-brand{
	text-transform: uppercase;
}

.navbar-brand:hover{
}

.navbar-custom a{
	color:#5e5e5e;
}

.navbar-custom .domain, .domain{
	color:#00affe;
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1)
  }
  50% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}

.menu-header{
	color:#505c66;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom:1px solid #dadada;
}

.post-title a{
	color: #505c66;
}

.post-title a:hover, .post-title a:active{
	color: #3490dc;
	text-decoration: none;
}

h2{
	margin:0;
}

.post-footer{
	border:1px solid #dadada;
	padding: 10px;
	border-radius: 5px;
	margin-top:5px;
}

.read-more{
	margin-bottom: 5px;
}

.pagination{
	/*justify-content: center;*/
}

.footer{
	background-color: #edeeef;
	padding: 10px 0px;
	text-align: center;
}

.dropdown-menu{
	border:none;
	border-radius: 0px;
	padding: 0px;
	margin:0px;
	background-color: #f7f7f7;
	text-align: left;
	border: 1px solid #3490dc;
	box-shadow: 0 0 30px #cce3f6;
}

.menu-footer{
	margin-bottom: 15px;
}

.sup-not{
	animation: animation-not 2s infinite;
	cursor: pointer;
}


@keyframes animation-not {
  0% {
    color: #5e5e5e;
  }
  50% {
    color: red;
  }
  100% {
    color: #5e5e5e;
   }
}

.btn-add-post{
	background-color: #ffffff;
	border: 1px solid #a1cbef;
	color:#495057;
}

.btn-add-post:hover{
    box-shadow: 0 0 20px #cce3f6;
}


body {

}

#small-menu-links{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #f7f7f7;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	border-left:1px solid #dadada;
}

.open-nav-button{
	cursor:pointer;
	background-color:inherit;
	border:none;

}

#small-menu-links .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#small-menu-links .closebtn:hover {
  text-decoration:none;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.flex-break-column {
  flex-basis: 100%;
  width: 0;
}

.facebook-button{
	background-color:#1877f2;
}

.bg-inherit{
	background-color:inherit;
}

.chat-name-avatar img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.chat-name-avatar{
	height:50px;
	width:50px;
	float:left;
	margin-right:15px;
}

.chat-name-avatar_inner{
	width: 100%;
	padding-top: 100%;
	background-color: black;
	position: relative;
}

.chat-name{
	cursor:pointer;
	padding:0px;
	margin:5px 0px 5px 0;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}

.chat-name:hover{
	background-color:#f7f7f7;
}

.chat-name-new-messages{
	text-align:center;
	float:right;
	margin-top:-35px;
	background-color:#d0211c;
	padding:0 5px;
	color:#ffffff;
	border-radius:10px;
}

.chat-message-my{
	background-color:#227dc7;
	color:#ffffff;
	width:90%;
	float:right;
	margin:5px 0;
	padding:10px;
	border-radius:10px;
}

.chat-message-friend{
	background-color:#dadada;
	width:90%;
	float:left;
	margin:5px 0;
	padding:10px;
	border-radius:10px;
}

.read-more-img img{
    width:90px;
    height:90px;
    object-fit: cover;
}

.read-more-title{
    padding: 3px 10px;
}

.read-more-excerpt{
    padding: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more-text-content{
    height:90px;
    background-color: #ffffff;
}

.read-more-posts{
    margin:5px 0px;
    cursor:pointer;
}

#horizontal-nav{
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;
	padding-bottom: 10px;
}

.news-card-image-left{
	width: 300px;
	height: 300px;
	background-color: red;
}